.custom-cursor {
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    transition: transform 0s ease, width 0.1s ease, height 0.1s ease;
    z-index: 9999;
  }

  .cursor-trail {
    width: 15px;
    height: 15px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    z-index: 9998;
    filter: blur(8px);
    transform: scale(1);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
  }


  .custom-cursor.cursor-hover {
    background-color: rgba(255, 255, 255, 0.2);
    transition: transform 0.05s ease, width 0.1s ease, height 0.1s ease;
  }
  
  a:hover, button:hover, [data-hover]:hover {
    cursor: none !important; /* Hides the default cursor when hovering */
  }

  body, a, button, [data-hover] {
    cursor: none !important; /* Hides the default cursor */
  }

  * {
    cursor: none !important; /* Completely hides the cursor for all elements */
  }
  