.custom-cursor {
    width: 12px;
    height: 12px;
    border: 2px solid white;
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    transform: translate3d(-50%, -50%, 0);
    transition: transform 0.15s ease, width 0.2s ease, height 0.2s ease;
    z-index: 9999;
  }
  
  .custom-cursor.cursor-hover {
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    transition: transform 0.1s ease, width 0.1s ease, height 0.1s ease;
  }
  
  a:hover, button:hover, [data-hover]:hover {
    cursor: none; /* Hides the default cursor when hovering */
  }
  