.page_indicator__container {
  position: absolute;
  bottom: 1%;
  right: 30px;
  z-index: 100;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page_indicator {
  border-radius: 50%;
  margin: 5px 0;
  cursor: pointer;
  transition: width 0.3s, height 0.3s, background-color 0.3s;
}

.page_indicator:hover {
  width: 14px !important;
  height: 14px !important;
  background-color: white !important;
}

@media screen and (max-width: 768px) {
  .page_indicator__container {
    right: 10px;
  } 
}